<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="admin/adminBase::Layout(~{::section})">
<body>
<section>
    <div class="container">
        <div class="row align-item-center">
            <div class="col-md-8">
                <h2>Add User</h2>
                <div class="card p-3">
                    <th:block th:if="${msg}">
                        <p class="text-center">[[${msg}]]</p>
                    </th:block>
                    <form action="createUser" method="post">
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Full Name</label>
                            <input type="text" name="fullName" class="form-control" id="exampleInputName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputUsername" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleInputUsername">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAddress" class="form-label">Address</label>
                            <input type="text" name="address" class="form-control" id="exampleInputAddress">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPhone" class="form-label">Phone</label>
                            <input type="text" name="phone" class="form-control" id="exampleInputPhone">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputIqama" class="form-label">Iqama</label>
                            <input type="text" name="iqama" class="form-control" id="exampleInputIqama">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassport" class="form-label">Passport</label>
                            <input type="text" name="passport" class="form-control" id="exampleInputPassport">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputRole" class="form-label">Role Type</label>
			                <select name="role" class="form-control" id="exampleInputRole">
			                    <option value="ROLE_ADMIN">Admin</option>
			                    <option value="ROLE_EMPLOYEE">Employee</option>
			                    <option value="ROLE_USER">User</option>
			                </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputVisaExp" class="form-label">Visa Expire Date</label>
                            <input type="date" name="visaExpDate" class="form-control" id="exampleInputVisaExp">
                        </div>
                        <button type="submit" class="btn btn-primary col-md-12">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>