<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<body>
<section>
	<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Dashboard</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Dashboard</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	    </div>
	
	    <div class="content">
	      <div class="container-fluid">
	        <div class="row">
	        <!-- today order -->
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${todayOrders}]]</h3>
	                <p>Today Orders</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/order/today_order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${todayOrderQuantity}]]</h3>
	                <p>Today Order Quantity</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/order/today_order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${todayOrderAmount}]]<span>/=</span></h3>
	                <p>Today Order Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/order/today_order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <!-- today sell -->
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-secondary">
	              <div class="inner">
	                <h3>[[${numOfTodaySells}]]</h3>
	                <p>Today Sells</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/sell/today_sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-secondary">
	              <div class="inner">
	                <h3>[[${todaySellProdQuantity}]]</h3>
	                <p>Today Sell Quantity</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/sell/today_sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-secondary">
	              <div class="inner">
	                <h3>[[${todaySellAmount}]]<span>/=</span></h3>
	                <p>Today Sell Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/sell/today_sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <!-- company account -->
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${totalProductQuantity}]] <span>KG</span></h3>
	                <p>Total Product Quantity in Store</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/admin/product_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${totalAmountEmployeeHas}]]<span>/=</span></h3>
	                <p>Total Amount in Employee</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/admin/user_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${totalCompanyAmount}]]<span>/=</span></h3>
	                <p>Total Amount in Company</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/admin/product_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <!-- total order -->
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-success">
	              <div class="inner">
	                <h3>[[${numOfOrders}]]</h3>
	                <p>Total Order</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/order/order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-success">
	              <div class="inner">
	                <h3>[[${totalOrderQuantity}]]</h3>
	                <p>Total Order Quantity</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/sell/sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-success">
	              <div class="inner">
	                <h3>[[${totalOrderAmount}]]<span>/=</span></h3>
	                <p>Total Order Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/order/order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          
	          <!-- total sell -->
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${numOfSells}]]</h3>
	                <p>Total Sell</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/sell/sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${totalSellProdQuantity}]]</h3>
	                <p>Total Sell Quantity</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/sell/sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${totalSellAmount}]]<span>/=</span></h3>
	                <p>Total Sell Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/sell/sell_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-primary">
	              <div class="inner">
	                <h3>[[${todayAssignAmount}]]<span>/=</span></h3>
	                <p>Today Assign Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/admin/todayAssignList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-primary">
	              <div class="inner">
	                <h3>[[${totalAssignAmount}]]<span>/=</span></h3>
	                <p>Total Assign Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/admin/assignList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-danger">
	              <div class="inner">
	                <h3>[[${todayExpenseAmount}]]<span>/=</span></h3>
	                <p>Today Expense Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/expense/todayExpenseList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-danger">
	              <div class="inner">
	                <h3>[[${totalExpenseAmount}]]<span>/=</span></h3>
	                <p>Total Expense Amount</p>
	              </div>
	              <div class="icon">
	              	<i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/expense/expenseList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-secondary">
	              <div class="inner">
	                <h3>[[${numOfProducts}]]</h3>
	                <p>Number of Products</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/admin/product_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${numOfUsers}]]</h3>
	                <p>Number of Employees</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/admin/user_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-primary">
	              <div class="inner">
	                <h3>[[${numOfCustomers}]]</h3>
	                <p>Number of Customers</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/admin/customer_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-warning">
	              <div class="inner">
	                <h3>[[${numOfVehicles}]]</h3>
	                <p>Number of Vehicles</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-pie-graph"></i>
	              </div>
	              <a th:href="@{/admin/vehicle_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
  <!-- /.content-wrapper -->
  
</section>

	
</section>
</body>
</html>