<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
		    <div class="container-fluid">
		        <div class="row align-item-center">
		            <div class="col-md-8">
		                <h2>Edit Vehicle</h2>
		                <div class="card p-3">
		                    <th:block th:if="${msg}">
		                        <p class="text-center">[[${msg}]]</p>
		                    </th:block>
		                        <form th:action="@{/admin/updateVehicle}" th:object="${vehicle}" method="post">
							        <div class="mb-3">
							            <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputId" readOnly required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputModel" class="form-label">Model</label>
							            <input type="text" maxlength="100" th:field="*{model}" class="form-control" id="exampleInputModel" required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputNumberPlate" class="form-label">Number Plate</label>
							            <input type="text" maxlength="100" th:field="*{numberPlate}" class="form-control" id="exampleInputNumberPlate" readOnly required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputVehicleExpDate" class="form-label">Vehicle Expire Date</label>
							            <input type="date" th:field="*{vehicleExpDate}" class="form-control" id="exampleInputVehicleExpDate" required>
							        </div>
							        <button type="submit" class="btn btn-primary col-md-12">Update</button>
							    </form>
		
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	  </div>
</section>

</body>
</html>