<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
		    <div class="container-fluid">
		        <div class="row align-item-center">
		            <div class="col-md-8">
		                <h2>Edit Product</h2>
		                <div class="card p-3">
		                    <th:block th:if="${msg}">
		                        <p class="text-center">[[${msg}]]</p>
		                    </th:block>
		                        <form th:action="@{/admin/updateProduct}" th:object="${product}" method="post">
							        <div class="mb-3">
							            <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputId" readOnly required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputName" class="form-label">Name</label>
							            <input type="text" maxlength="100" th:field="*{name}" class="form-control" id="exampleInputName" required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputShortName" class="form-label">Short Name</label>
							            <input type="text" maxlength="100" th:field="*{shortName}" class="form-control" id="exampleInputShortName" readOnly required>
							        </div>
							        <div class="mb-3">
			                            <label for="exampleInputUnitPrice" class="form-label">Unit Price</label>
			                            <input type="number" th:field="*{unitPrice}" class="form-control" id="exampleInputUnitPrice" step="0.1" min="0" max="10000" required>
			                        </div>
							        <div class="mb-3">
							            <label for="exampleInputQuantity" class="form-label">Quantity</label>
							            <input type="number" th:field="*{quantity}" class="form-control" id="exampleInputQuantity" step="0.1" min="0" max="100000" required>
							        </div>
							        <button type="submit" class="btn btn-primary col-md-12">Update</button>
							    </form>
		
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	  </div>
</section>

</body>
</html>