<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="admin/adminBase::Layout(~{::section})">
<body>
<section>
	<a class="btn btn-primary" href="orderForm">Add Order</a>
    <h1>Order List</h1>
    <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Employee Name</th>
                    <th>Order Date</th>
                    <th>Number Of Items</th>
                    <th>Order Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order, iterStat : ${orders}" th:with="orderIndex=${iterStat.index + 1}">
                    <td th:text="${orderIndex}"></td>
                    <td th:text="${order.customer.username}"></td>
                    <td th:text="${order.userDtls.username}"></td>
                    <td th:text="${@dateUtils.formatDate(order.orderDate)}"></td>
                    <td th:text="${order.numberOfItems}"></td>
                    <td th:text="${order.orderAmount}"></td>
                    <td>
                    	<a th:href="@{/admin/orderView/{id}(id=${order.id})}" class="btn btn-small btn-primary">View</a>
                    	<a th:href="@{/admin/orderEdit/{id}(id=${order.id})}" class="btn btn-small btn-primary">Edit</a>
        				<a th:href="@{/admin/orderDelete/{id}(id=${order.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
</section>
</body>
</html>