<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
		    <h1>Product List</h1>
		    <!-- Search Form -->
	        <div th:if="${userRole == 'ROLE_ADMIN'}">
	        	<form th:action="@{/admin/product_list}" method="GET" class="form-inline">
		          <div class="form-group mb-2">
		            <label for="fromDate" class="pe-1">From Date</label>
		            <input type="date" class="form-control" id="fromDate" name="fromDate" th:value="${fromDate}">
		          </div>
		          <div class="form-group mx-sm-3 mb-2">
		            <label for="toDate" class="pe-1">To Date</label>
		            <input type="date" class="form-control" id="toDate" name="toDate" th:value="${toDate}">
		          </div>
		          <div class="form-group mx-sm-2 mb-2">
                    <label for="customerId" class="sr-only">Customer</label>
                    <select id="customerId" name="customerId" class="form-control">
                        <option value="">Select Customer</option>
                        <option th:each="customer : ${customerList}"
                                th:value="${customer.id}"
                                th:text="${customer.fullName}"
                                th:selected="${customer.id == customerId}"></option>
                    </select>
                  </div>
		          <button type="submit" class="btn btn-primary mb-2">Search</button>
		        </form>
	        </div>
		    
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Short Name</th>
		                    <th>T_Quantity in Store (KG)</th>
		                    <th>T_Quantity Buying Price (SAR)</th>
		                    <th>Updated Date</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="product, iterStat : ${products}" th:with="orderIndex=${iterStat.index + 1}">
		                    <td th:text="${orderIndex}"></td>
		                    <td th:text="${product.shortName}"></td>
		                    <td th:text="${product.quantity}"></td>
		                    <td th:text="${product.unitPrice}"></td>
		                    <td th:text="${@dateUtils.formatDate(product.updateDate)}"></td>
		                    <td>
		                    	<a th:href="@{/admin/productView/{id}(id=${product.id})}" class="btn btn-small btn-primary">View</a>
		                    	<a th:href="@{/admin/productEdit/{id}(id=${product.id})}" class="btn btn-small btn-warning">Edit</a>
		        				<a th:href="@{/admin/productDelete/{id}(id=${product.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>