<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
		    <h1>Employee List</h1>
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Username</th>
		                    <th>Phone</th>
		                    <th>Role</th>
		                    <th>Rest Amount</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="userDto, iterStat : ${users}" th:with="orderIndex=${iterStat.index + 1}">
		                    <td th:text="${orderIndex}"></td>
		                    <td th:text="${userDto.userDtls.username}"></td>
		                    <td th:text="${userDto.userDtls.phone}"></td>
		                    <td th:text="${userDto.userDtls.role}"></td>
		                    <td th:text="${userDto.hasAmount}"></td>
		                    <td>
		                    	<a th:href="@{/admin/userView/{id}(id=${userDto.userDtls.id})}" class="btn btn-small btn-primary">View</a>
		                    	<a th:href="@{/admin/userEdit/{id}(id=${userDto.userDtls.id})}" class="btn btn-small btn-warning">Edit</a>
		        				<a th:href="@{/admin/userDelete/{id}(id=${userDto.userDtls.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>