<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
		    <h1>Employee List</h1>
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Full Name</th>
		                    <th>Username</th>
		                    <th>Address</th>
		                    <th>Email</th>
		                    <th>Phone</th>
		                    <th>Iqama</th>
		                    <th>Role</th>
		                    <th>Passport</th>
		                    <th>Visa Expire Date</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="user, iterStat : ${users}" th:with="orderIndex=${iterStat.index + 1}">
		                    <td th:text="${orderIndex}"></td>
		                    <td th:text="${user.fullName}"></td>
		                    <td th:text="${user.username}"></td>
		                    <td th:text="${user.address}"></td>
		                    <td th:text="${user.email}"></td>
		                    <td th:text="${user.phone}"></td>
		                    <td th:text="${user.iqama}"></td>
		                    <td th:text="${user.role}"></td>
		                    <td th:text="${user.passport}"></td>
		                    <td th:text="${user.visaExpDate}"></td>
		                    <td>
		                    	<a th:href="@{/admin/userEdit/{id}(id=${user.id})}" class="btn btn-small btn-primary">Edit</a>
		        				<a th:href="@{/admin/userDelete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>