<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
		    <h1>Vehicle List</h1>
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Model</th>
		                    <th>Number Plate</th>
		                    <th>Vehicle Expire Date</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="vehicle, iterStat : ${vehicles}" th:with="orderIndex=${iterStat.index + 1}">
		                    <td th:text="${orderIndex}"></td>
		                    <td th:text="${vehicle.model}"></td>
		                    <td th:text="${vehicle.numberPlate}"></td>
		                    <td th:text="${vehicle.vehicleExpDate}"></td>
		                    <td>
		                    	<a th:href="@{/admin/vehicleEdit/{id}(id=${vehicle.id})}" class="btn btn-small btn-primary">Edit</a>
		        				<a th:href="@{/admin/vehicleDelete/{id}(id=${vehicle.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>