<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
		    <div class="container-fluid">
		        <div class="row align-item-center">
		            <div class="col-md-8">
		                <h2>Edit Order</h2>
		                <div class="card p-3">
		                    <th:block th:if="${msg}">
		                        <p class="text-center">[[${msg}]]</p>
		                    </th:block>
		                        <form th:action="@{/order/updateOrder}" th:object="${order}" method="post">
							        <div class="mb-3">
							            <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputId" readOnly required>
							        </div>
							        <div class="mb-3">
							            <label for="exampleInputName" class="form-label">Order Date: [[${@dateUtils.formatDate(order.orderDate)}]]</label>
							            <!-- <input type="datetime" th:field="*{orderDate}" class="form-control" id="exampleInputName" readOnly required> -->
							        </div>
							        <div class="mb-2">
								        <label for="customer" class="form-label">Customer:</label>
								        <select id="customer" class="form-control" name="customerId" required onchange="updateDueAmount()">
								            <option value="" selected>Select Employee</option>
								            <option th:each="customer : ${customers}" 
								                    th:value="${customer.id}" 
								                    th:text="${customer.fullName}" 
								                    th:attr="data-due=${customer.customerDue}"
								                    th:selected="${customer.id == order.customer.id}"></option>
								        </select>
								    </div>
							        <div class="mb-3">
									    <label>Customer Due Amount</label>
									    <input type="number" max="100000" id="customerDue" th:name="customerDue" th:value="${order.customer.customerDue}" class="form-control" required />
									</div>
							        <div id="products">
			                            <div th:each="orderItem, iterStat : ${order.orderItems}" class="product">
			                                <label>Product</label>
			                                <select th:field="*{orderItems[__${iterStat.index}__].product.id}" class="form-control" required>
			                                    <option value="">Select Product</option>
			                                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
			                                </select>
			                
			                                <label>Quantity</label>
			                                <input type="number" th:field="*{orderItems[__${iterStat.index}__].quantity}" class="form-control" step="0.01" min="0" max="100000" required />
			                
			                                <label>Unit Price</label>
			                                <input type="number" th:field="*{orderItems[__${iterStat.index}__].unitPrice}" class="form-control" step="0.01" min="0" max="10000" required />
			                
			                                <button type="button" onclick="removeProduct(this)" class="btn btn-danger mt-2 mb-0">Remove</button>
			                            </div>
			                        </div>
			                        <button type="button" class="btn btn-primary btn-small my-2" onclick="addProduct()">Add Product</button>
							        <div class="my-2">
								        <label class="mb-0">Total Order Amount:</label>
								        <h3 id="totalAmount" class="text-bold text-info">[[*{orderAmount}]]</h3>
								    </div>
								    <div class="my-2">
								        <label class="mb-0">Total Amount With Due:</label>
								        <h3 id="totalAmountWithDue" class="text-bold text-info">[[*{orderAmount}+*{customer.customerDue}]]</h3>
								    </div>
							        <button type="submit" class="btn btn-primary col-md-12">Update</button>
							    </form>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>	
	  </div>
</section>
</body>
</html>