<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
	      	<button onclick="history.back()" class="btn btn-secondary btn-sm">Back</button>
		    <h1>Order List</h1>
		    
		    <!-- Search Form -->
	        <div th:if="${userRole == 'ROLE_ADMIN'}">
	        	<form th:action="@{/order/order_list}" method="GET" class="form-inline">
		          <div class="form-group mb-2">
		            <label for="fromDate" class="sr-only">From Date</label>
		            <input type="date" class="form-control" id="fromDate" name="fromDate" th:value="${fromDate}">
		          </div>
		          <div class="form-group mx-sm-3 mb-2">
		            <label for="toDate" class="sr-only">To Date</label>
		            <input type="date" class="form-control" id="toDate" name="toDate" th:value="${toDate}">
		          </div>
		          <div class="form-group mb-2">
                    <label for="customerId" class="sr-only">Customer</label>
                    <select id="customerId" name="customerId" class="form-control">
                        <option value="">Select Customer</option>
                        <option th:each="customer : ${customers}"
                                th:value="${customer.id}"
                                th:text="${customer.fullName}"
                                th:selected="${customer.id == customerId}"></option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="userId" class="sr-only">Employee</label>
                    <select id="userId" name="userId" class="form-control">
                        <option value="">Select Employee</option>
                        <option th:each="user : ${userList}"
                                th:value="${user.id}"
                                th:text="${user.username}"
                                th:selected="${user.id == userId}"></option>
                    </select>
                </div>
		          <button type="submit" class="btn btn-primary mb-2">Search</button>
		        </form>
		        <div class="col-md-6">
			        <ul class="list-group list-group-flush">
	                    <li class="list-group-item d-flex justify-content-between align-items-center">
	                        <strong>Orders Quantity:</strong> <span class="text-end text-info ms-2" th:text="${ordersQuantity} +' KG'"></span>
	                    </li>
	                    <li class="list-group-item d-flex justify-content-between align-items-center">
	                        <strong>Orders Amount:</strong> <span class="text-end text-info ms-2" th:text="${ordersAmount} +'/= SAR'"></span>
	                    </li>
	                </ul>
                </div>
	        </div>
		    
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Customer Name</th>
		                    <th>Employee Name</th>
		                    <th>Order Date</th>
		                    <th>Number Of Items</th>
		                    <th>Order Quantity</th>
		                    <th>Order Amount</th>
		                    <th>Customer Due</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="order, iterStat : ${orders}" th:with="orderIndex=${iterStat.index + 1}">
		                    <td th:text="${orderIndex}"></td>
		                    <td th:text="${order.customer.fullName}"></td>
		                    <td th:text="${order.userDtls.username}"></td>
		                    <td th:text="${@dateUtils.formatDate(order.orderDate)}"></td>
		                    <td th:text="${order.numberOfItems}"></td>
		                    <td th:text="${order.orderQuantity}"></td>
		                    <td th:text="${order.orderAmount}"></td>
		                    <td th:text="${order.customerDue}"></td>
		                    <td>
		                    	<a th:href="@{/order/orderView/{id}(id=${order.id})}" class="btn btn-small btn-primary">View</a>
		                    	<a th:href="@{/order/orderEdit/{id}(id=${order.id})}" class="btn btn-small btn-warning">Edit</a>
		        				<a th:if="${userRole == 'ROLE_ADMIN'}" th:href="@{/order/orderDelete/{id}(id=${order.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>