<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
		    <div class="container-fluid">
		    <h1>Order View</h1>
		    <div class="row">
		        <div class="col-12">
		            <div th:object="${order}" class="card mb-3">
		                <div class="card-body">
		                    <h5 class="card-title">Order ID: <span th:text="${order.id}"></span></h5>
		                    <ul class="list-group list-group-flush">
		                        <li class="list-group-item">
		                            <strong>Customer Name:</strong> <span th:text="${order.customer.username}"></span>
		                        </li>
		                        <li class="list-group-item">
		                            <strong>Employee Name:</strong> <span th:text="${order.userDtls.username}"></span>
		                        </li>
		                        <li class="list-group-item">
		                            <strong>Vehicle Name:</strong> <span th:text="${vehicleName}"></span>
		                        </li>
		                        <li class="list-group-item">
		                            <strong>Order Date:</strong> <span th:text="${@dateUtils.formatDate(order.orderDate)}"></span>
		                        </li>
		                        <li class="list-group-item">
		                            <strong>Number Of Items:</strong> <span th:text="${order.numberOfItems}"></span>
		                        </li>
		                        <table class="table table-striped mt-3">
						            <thead>
						                <tr>
						                    <th class="text-center">No</th>
						                    <th class="text-center">Product Name</th>
						                    <th class="text-center">Quantity</th>
						                    <th class="text-center">Unit Price</th>
						                    <th class="text-center">Amount</th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr th:each="orderItem, iterStat : ${order.orderItems}" th:with="orderIndex=${iterStat.index + 1}">
						                    <td class="text-center" th:text="${orderIndex}"></td>
						                    <td class="text-center" th:text="${orderItem.product.name}"></td>
						                    <td class="text-center" th:text="${orderItem.quantity}"></td>
						                    <td class="text-center" th:text="${orderItem.unitPrice}"></td>
						                    <td class="text-center" th:text="${orderItem.amount}"></td>
						                </tr>
						            </tbody>
						        </table>
		                        <li class="list-group-item">
		                            <strong>Total Order Amount:</strong> <strong class="text-success" th:text="${order.orderAmount}+'/= SAR'"></strong>
		                        </li>
		                        <li class="list-group-item">
		                        	<button onclick="history.back()" class="btn btn-secondary btn-sm">Back</button>
		                            <a th:href="@{/order/orderEdit/{id}(id=${order.id})}" class="btn btn-warning btn-sm">Edit</a>
		                            <a th:if="${userRole == 'ROLE_ADMIN'}" th:href="@{/order/orderDelete/{id}(id=${order.id})}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
  </div>
</section>
</body>
</html>
