<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<body>
<section>
    <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Dashboard</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Dashboard</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	    </div>
	
	    <div class="content">
	      <div class="container-fluid">
	        <div class="row">
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${todayOrders}]]</h3>
	                <p>Today Orders</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-bag"></i>
	              </div>
	              <a th:href="@{/order/today_order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-success">
	              <div class="inner">
	                <h3>[[${todayOrderAmount}]] <strong>SAR</strong></h3>
	                <p>Today Order Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/order/today_order_list}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-primary">
	              <div class="inner">
	                <h3>[[${todayAssignAmount}]] <strong>SAR</strong></h3>
	                <p>Today Assign Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <!-- <a th:href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-primary">
	              <div class="inner">
	                <h3>[[${totalAssignAmount}]] <strong>SAR</strong></h3>
	                <p>Total Assign Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
   	              <!-- <a th:href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-danger">
	              <div class="inner">
	                <h3>[[${todayExpenseAmount}]] <strong>SAR</strong></h3>
	                <p>Today Expense Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/expense/todayExpenseList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-danger">
	              <div class="inner">
	                <h3>[[${totalExpenseAmount}]] <strong>SAR</strong></h3>
	                <p>Total Expense Amount</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	              <a th:href="@{/expense/todayExpenseList}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	          <div class="col-xl-3 col-lg-4 col-sm-6">
	            <div class="small-box bg-info">
	              <div class="inner">
	                <h3>[[${hasAmount}]] <strong>SAR</strong></h3>
	                <p>Total Amount Have</p>
	              </div>
	              <div class="icon">
	                <i class="ion ion-stats-bars"></i>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- /.content-wrapper -->
</section>

</body>
</html>