<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
		    <div class="container-fluid">
		        <div class="row align-item-center">
		            <div class="col-md-8">
		                <h2>Expense of Employee</h2>
		                <div class="card p-3">
		                    <th:block th:if="${msg}">
		                        <p class="text-center alert alert-primary">[[${msg}]]</p>
		                    </th:block>
		                    <form th:action="@{/expense/saveExpense}" th:object="${expense}" method="post">
		                    	<div class="mb-3" th:if="${expense != null}">
							        <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputId" readOnly required>
							    </div>
								<div class="mb-3">
		                            <label for="exampleInputReason" class="form-label">Reason Type</label>
					                <select name="expenseReason" class="form-control" id="exampleInputReason" required>
							            <option value="" th:selected="${expense == null}">Select Expense Reason</option>
							            <option value="NASTA" th:selected="${expense != null ? expense.expenseReason == 'NASTA' : false}">Nasta</option>
							            <option value="CAR_OIL" th:selected="${expense != null ? expense.expenseReason == 'CAR_OIL' : false}">Car Oil</option>
							            <option value="CAR_COST" th:selected="${expense != null ? expense.expenseReason == 'CAR_COST' : false}">Car Cost</option>
							            <option value="STORE_COST" th:selected="${expense != null ? expense.expenseReason == 'STORE_COST' : false}">Store Cost</option>
							            <option value="CUSTOMER_DUE" th:selected="${expense != null ? expense.expenseReason == 'CUSTOMER_DUE' : false}">Customer Due</option>
							            <option value="CUSTOMER_EXTRA" th:selected="${expense != null ? expense.expenseReason == 'CUSTOMER_EXTRA' : false}">Customer Extra</option>
							            <option value="PERSONAL_COST" th:selected="${expense != null ? expense.expenseReason == 'PERSONAL_COST' : false}">Personal Cost</option>
							            <option value="EMPLOYEE_SALARY" th:selected="${expense != null ? expense.expenseReason == 'EMPLOYEE_SALARY' : false}">Employee Salary</option>
							            <option value="COMPANY_COST" th:selected="${expense != null ? expense.expenseReason == 'COMPANY_COST' : false}">Company Cost</option>
							            <option value="OTHER" th:selected="${expense != null ? expense.expenseReason == 'OTHER' : false}">Other</option>
							        </select>
		                        </div>
		                        <div class="mb-3">
		                            <label for="exampleInputExpenseAmount" class="form-label">Expense Amount (SAR)</label>
		                            <input type="number" max="100000" name="expenseAmount" th:value="${expense != null ? expense.expenseAmount:''}" class="form-control" id="exampleInputExpenseAmount" required>
		                        </div>
		                        <button type="submit" class="btn btn-primary col-md-12">Submit</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	  </div>
</section>

</body>
</html>