<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<body>
<section>
<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <div class="content-header">
	      <div class="container-fluid">
	      	<button onclick="history.back()" class="btn btn-secondary btn-sm">Back</button>
		    <h1>Sell List</h1>
		    
		    <!-- Search Form -->
	        <div th:if="${userRole == 'ROLE_ADMIN'}">
	        	<form action="#" th:action="@{/sell/sell_list}" method="GET" class="form-inline">
		          <div class="form-group mb-2">
		            <label for="fromDate" class="sr-only">From Date</label>
		            <input type="date" class="form-control" id="fromDate" name="fromDate" th:value="${fromDate}">
		          </div>
		          <div class="form-group mx-sm-3 mb-2">
		            <label for="toDate" class="sr-only">To Date</label>
		            <input type="date" class="form-control" id="toDate" name="toDate" th:value="${toDate}">
		          </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="userId" class="sr-only">Employee</label>
                    <select id="userId" name="userId" class="form-control">
                        <option value="">Select Employee</option>
                        <option th:each="user : ${userList}"
                                th:value="${user.id}"
                                th:text="${user.username}"
                                th:selected="${user.id == userId}"></option>
                    </select>
                </div>
		          <button type="submit" class="btn btn-primary mb-2">Search</button>
		        </form>
		        <div class="col-md-6">
			        <ul class="list-group list-group-flush">
	                    <li class="list-group-item d-flex justify-content-between align-items-center">
	                        <strong>Sells Quantity:</strong> <span class="text-end text-info ms-2" th:text="${sellsQuantity} +' KG'"></span>
	                    </li>
	                    <li class="list-group-item d-flex justify-content-between align-items-center">
	                        <strong>Sells Amount:</strong> <span class="text-end text-info ms-2" th:text="${sellsAmount} +'/= SAR'"></span>
	                    </li>
	                </ul>
                </div>
	        </div>
		    
		    <table class="table table-striped mt-3">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Employee Name</th>
		                    <th>Sell Date</th>
		                    <th>Number Of Items</th>
		                    <th>Sell Quantity</th>
		                    <th>Sell Amount (SAR)</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="sell, iterStat : ${sells}" th:with="sellIndex=${iterStat.index + 1}">
		                    <td th:text="${sellIndex}"></td>
		                    <td th:text="${sell.userDtls.username}"></td>
		                    <td th:text="${@dateUtils.formatDate(sell.sellDate)}"></td>
		                    <td th:text="${sell.numberOfItems}"></td>
		                    <td th:text="${sell.sellQuantity}"></td>
		                    <td th:text="${sell.sellAmount}"></td>
		                    <td>
		                    	<a th:href="@{/sell/sellView/{id}(id=${sell.id})}" class="btn btn-small btn-primary">View</a>
		                    	<a th:href="@{/sell/sellEdit/{id}(id=${sell.id})}" class="btn btn-small btn-warning">Edit</a>
		        				<a th:if="${userRole == 'ROLE_ADMIN'}" th:href="@{/sell/sellDelete/{id}(id=${sell.id})}" onclick="return confirm('Are you sure?')" class="btn btn-small btn-danger">Delete</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
	  </div>
</section>
</body>
</html>