<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <title>sell Form</title>
</head>
<body>
<section>
	<div class="content-wrapper">
	    <div class="content-header">
			<div class="container-fluid">
		        <div class="row align-item-center">
		            <div class="col-md-8">
		                <h2>Add sell</h2>
		                <div class="card p-3">
		                    <th:block th:if="${msg}">
		                        <p class="text-center alert alert-primary">[[${msg}]]</p>
		                    </th:block>
		                    <form th:action="@{/sell/saveSell}" th:object="${sell}" method="post" enctype="multipart/form-data" onsubmit="return validateFile()">
						        <div id="products" class="mb-2">
		                            <div th:each="sellItem, iterStat : ${sell.sellItems}" class="product">
		                                <label>Product</label>
		                                <select th:field="*{sellItems[__${iterStat.index}__].product.id}" class="form-control" required>
		                                    <option value="" selected>Select Product</option>
		                                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
		                                </select>
		                
		                                <label>Quantity</label>
		                                <input type="number" th:field="*{sellItems[__${iterStat.index}__].quantity}" class="form-control" step="0.01" min="0" max="100000" required />
		                
		                                <label>Unit Price</label>
		                                <input type="number" th:field="*{sellItems[__${iterStat.index}__].unitPrice}" class="form-control" step="0.01" min="0" max="10000" required />
		                
		                                <button type="button" onclick="removeProduct(this)" class="btn btn-danger mt-2">Remove</button>
		                            </div>
		                        </div>
						        <button type="button" class="btn btn-primary btn-small" onclick="addProduct()">Add Product</button>
						        <div class="my-2">
							        <label class="mb-0">Total Sell Amount:</label>
							        <h3 id="totalAmount" class="text-bold text-info">0</h3>
							    </div>
							    <div class="mb-3">
		                            <label for="exampleInputphoto" class="form-label">Sell Receipt</label>
		                            <input type="file" name="photo" class="form-control" id="exampleInputphoto">
		                        </div>
						        <button type="submit" class="btn btn-primary col-md-12">Submit</button>
						    </form>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	  </div>
</section>
</body>
</html>